@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Force dark mode */
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-offbrand: #5befce;
  --font-sans: var(--font-rubik), Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
